<footer>
    <div class="social-info">
        <div class="social-icons">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
            <a href=""><i class="fa-brands fa-square-twitter"></i></a>
        </div>
        <div class="social-copy"> &copy;wanderlust Inc</div>
        <div class="social-terms">
            <a href="">privacy</a>
            <a href="">terms</a>
        </div>

    </div>
</footer>