<% layout("layouts/boilerplate.ejs") %>

<body>
    <h2>Destinations</h2>
   
   
<div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 " >
      
  <% for(dt of data) { %>  
<a href="/listings/<%=dt._id%>" class="list-text">
      <div class="listing-card col " >
        <img src="<%=dt.image.url %>" class="card-img-top" alt="listings">
        <div class="card-img-overlay"> <p>yadhu</p></div>
        <div class="card-body">
          <p class="card-text"><b><%=dt.title %></b>
          <br>
          &#8377;<%=dt.price%>/Night
        </p>

        </div>
      </div>
    </a>
    
     <%}%>
    
</div>




</body>
